/*-------加载图片----------*/

body {

}

.loading {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, .5);
	display: none;
}

.loading .main {
	text-align: center;
	padding-top: 40%;
	color: #fff;
}

.loading .main img {
	margin-bottom: 10px;
	width: 150px;
}


/*错误提示框样式*/

.error_wrap {
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
}

.errorwrap {
	text-align: center;
	border-radius: 3px;
	width: 5rem;
	background: rgba(0, 0, 0, 0.80);
	text-align: center;
	font-family: PingFangSC-Regular;
	color: #FFFFFF;
	position: absolute;
	top: 200px;
	z-index: 999;
	padding: 0 0.2rem;
	border-radius: 4px;
	display: block;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.errorwrap img {
	width: 4.2rem;
	height: 0.04rem;
}
