body {
	font: 0.12rem 'Hiragino Sans GB', '冬青黑', 'Microsoft YaHei', YaHei, Arial, Helvetica, sans-serif;
}

.infotitle {
	width: 100%;
	height: 0.88rem;
	font-size: 12px;
	line-height: 0.88rem;
	padding: 0 20px;
	border-top: solid 1px #ccc;
}

.infotitle2 {
	width: 100%;
	font-size: 12px;
	padding: 0 20px;
	border-top: solid 1px #ccc;
	display: flex;
	align-items: center;
}

.border-all {
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	filter: alpha(opacity=50);
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
}
.text3 {
    margin: 20px;
    line-height: 0.32rem;
}

.able {
	width: 0.32rem;
	height: 0.32rem;
	background: url(../images/able@2x.png) no-repeat;
	background-size: cover;
	margin-top: 0;
	float: left;
	margin-right: 0.16rem;
}
.unable {
	width: 0.32rem;
	height: 0.32rem;
	background: url(../images/unabel@2x.png) no-repeat;
	background-size: cover;
	margin-top: 0;
	float: left;
	margin-right: 0.16rem;
}
.text3 a {
	color: #2B89F7;
}

/*//错误提示样式*/

.warntxt {
	width: auto;
	height: auto;
	background: rgba(0, 0, 0, 0.5);
	line-height: 25px;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #FFFFFF;
	position: absolute;
	top: 200px;
	z-index: 999;
	padding: 0 0.2rem;
	border-radius: 4px;
	display: block;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: none;
}

.wrap {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.common_group {
	width: 100%;
	height: 0.9rem;
	padding: 0 20px;
	background: #fff;
	border-top: solid 1px #ccc;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.common_group label {
	color: #333333;
	font-size: 14px;
	line-height: 0.9rem;
	font-weight: normal;
	width: auto;
	display: block;
	float: left;
}

.input_wrap {
	width: 75%;
	height: 0.9rem;
}

.common_group input {
	outline: 0;
	width: auto;
	font-size: 14px;
	padding: 0.26rem 0;
	height: 100%;
}

input::-webkit-input-placeholder {
	color: #999999;
}

input::-moz-placeholder {
	color: #999999;
}

input::-ms-input-placeholder {
	color: #999999;
}

.p_warn {
	color: #808080;
	font-size: 0.2rem;
	line-height: 0.2rem;
	text-indent: 0.2rem;
	margin-top: 0.2rem;
}

.subitBtn {
	width: auto;
	margin: 0 0.2rem;
	background: #ccc;
	border-radius: 0.38rem;
	color: #fff;
	line-height: 0.76rem;
	height: 0.76rem;
	font-size: 0.34rem;
	text-align: center;
	margin-top: 0.7rem;
}

.btnCss {
	width: auto;
	margin: 0 0.2rem;
	background: #ff7437;
	border-radius: 0.38rem;
	color: #fff;
	line-height: 0.76rem;
	height: 0.76rem;
	font-size: 0.34rem;
	text-align: center;
	margin-top: 0.7rem;
}

.a_wrap {
	color: #808080;
	font-size: 0.2rem;
	line-height: 0.2rem;
	margin-top: 0.2rem;
	margin-left: 0.2rem;
}

.a_text {
	color: #808080;
	text-decoration: underline;
}

.pwarn {
	color: #bfbfbf;
	font-size: 0.2rem;
	line-height: 0.3rem;
	margin: 0 0.3rem;
	margin-top: 1rem;
	text-align: center;
}

.pwarn2 {
	width: 100%;
	color: #bfbfbf;
	font-size: 0.2rem;
	line-height: 0.3rem;
	margin-top: 0.2rem;
	margin-bottom: 0.3rem;
	text-align: center;
}

.form_t {
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #333333;
	letter-spacing: 0;
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
}

input[type=button],
input[type=submit],
input[type=file],
button {
	cursor: pointer;
	-webkit-appearance: none;
}

#btnMobileNo {
	    width: 1.7rem;
    height: 0.6rem;
    float: right;
    background: #1B9AF6;
    background-size: contain;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #fff;
    line-height: 0.6rem;
    text-align: center;
    padding: 0;
    border-radius: 5px;
}

.submitBtn {
	width: 4.8rem;
	height: 40px;
	background: #1B9AF6;
	border-radius: 5px;
	line-height: 40px;
	margin: 20px auto;
	margin-bottom: 60px;
	margin-top: 3.15rem;
	color: #fff;
	text-align: center;
	font-size: 18px;
}

.warnwrap {
	padding-top: 30px;
	background: #FFFFFF;
	border-radius: 4px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 200px;
	width: 230px;
	height: 140px;
	z-index: 99999;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.warn-p {
	font-size: 14px;
	color: #333333;
}

.borderwarn {
	border-top: 1px solid #F2F3F8;
	width: 100%;
	margin: 15px;
}

.warnbtn {
	font-size: 14px;
	color: #2E90F6;
}

.input_wrap img {
	width: 0.3rem;
	height: 0.3rem;
	float: right;
	margin: 0.28rem 0;
}