<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<title>激活我的机构</title>
		<link th:href="@{/css/base.css}" href="../static/css/base.css" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css?v=1.0"/>
		<link th:href="@{/css/login.css}" href="../static/css/login.css?v=1.0" rel="stylesheet" />
	<script>
			function resize() {
				var docEl = document.documentElement;
				var clientWidth = window.innerWidth;
				if(!clientWidth) return;
				if(clientWidth >= 640) {
					docEl.style.fontSize = '100px';
				} else {
					docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
				}
			}
			resize()
		</script>
	</head>

	<body>

<div class="wrap">
	<div class="infotitle">
		*请确认机构信息
	</div>
	<div class="infotitle" style="background: #fff;font-size: 14px;">
		<span>您的机构名称</span>&nbsp;&nbsp;<span id="agentName"></span>
	</div>
	<div class="infotitle2">

		<div style="line-height: 24px;">*以上信息如<span style="color: red;">有误请联系上级</span>，若确认无误，请<span style="color: red;">设置登录信息</span>，为确保您的账户安全，<span style="color: red;">请确保填写信息真实有效</span>。</div>
	</div>
	<form style="display: flex; flex-direction: column;background: #fff;">
		<div>
			<div class="common_group ">
				<label>登录手机号</label>
				<div class="input_wrap">
					<input type="text" class="btnstyle" id="phoneNo" maxlength="11" style="width: 100%;" placeholder="本人手机号作为移动端登录账号" />
				</div>
			</div>
			<div class="common_group ">
				<label>登录密码</label>
				<div class="input_wrap">
					<input type="password" class="btnstyle" id="pwd" maxlength="18" style=" width: 100%;" placeholder="6-16位,数字/字母/符号中的两种" />
				</div>
			</div>
			<div class="common_group" style="border-bottom: solid 1px #ccc;">
				<label>验&nbsp;证&nbsp;码：</label>
				<div class="input_wrap" style="width: 75%;float: left;display: flex;justify-content: space-between;align-items: center;">
					<input class="btnstyle" type="text" id="mobileNo" maxlength="6" style="width: 40%;" placeholder="短信验证码" />
					<input type="button" id="btnMobileNo" value="发送验证码" />
				</div>

			</div>

		</div>

	</form>
	<div class="text3">
		<div class="able" id="agreez"></div> <span>同意</span>
		<a href="https://www.hybunion.com/hrtzybAgreement.html">《产品使用协议》</a>
	</div>
	<div class="submitBtn" id="btnNext">确认</div>
</div>

		<div class="loading">
			<div class="main">
				<img th:src="@{/images/loading2.gif}" src="../static/images/loading2.gif" alt="">
			</div>
		</div>
		<!--    错误提示框-->
		<div class="error_wrap error">
			<div class="errorwrap">
				<p style="font-size: 14px;padding-top: 10px;">提示</p>
				<img th:src="@{/images/com_line.png}" src="../static/images/com_line.png" />
				<p style="font-size: 13px;padding-top: 5px;padding-bottom: 15px;word-break: break-word;" class="errorp"></p>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}" src="../static/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/login.js}" src="../static/js/login.js?v=1.1"></script>
	<script type="text/javascript" th:src="@{js/error.js}" src="../static/js/error.js?v=1"></script>
	<script src="../static/js/md5.js" th:src="@{js/md5.js}"></script>
</html>